html{
    height: 100%;
  }
body{
    background-color: rgb(22, 75, 22);
    display: flex;
    height: 99%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.glowny{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 700px;
    padding: 30px;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 2px 5px 3px 3px #000000;
}
a,button{
    text-decoration: none;
    border: none;
    outline: none;
    background-color: rgb(64, 192, 64);
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #000000;
    margin: 5px;
}
a:active,button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}
.wybrany{
    background-color: rgb(22, 75, 22);
    color: white;
}

h4{
    margin-top: 50px;
}
td,th,tr,table{
    border-color: #000000;
    border: 1px;
}
.rodzina{
    background-color: palevioletred;
    color: white;
}
.przyjaciele{
    background-color: rgb(71, 172, 212);
    color: white;
}
.praca{
    background-color: rgb(253, 240, 54);
    color: white;
}
.znajomi{
    background-color: rgb(150, 117, 240);
    color: white;
}
#zaba{
    width: 100px;
    height: 100px;
    position: relative;
}
.animacja{
    animation-name: animacja;
    animation-duration: 4s;
}
@keyframes animacja {
    0%   {left:-80px; top:-300px;}
    10%  {left:-90px; top:-100px;}
    25%  {left:200px; top:100px;}
    50%  {left:100; top:-10px;}
    75%  {left:500px; top:-400px;}
    90%  {left:-100px; top:-200px;}
    100% {left:0px; top:0px;}
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }